html,
body {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/000/273/920/original/deep-ocean-background-vector.jpg"); */
  /* background-image: url("https://img5.goodfon.com/original/1920x1080/d/90/fon-wallpaper-lines-abstract.jpg"); */
  /* background-image: url("../public/Pisces.png"); */
  /* background-size: 110px; */
  /* background-repeat: space; */
  /* background-blend-mode: soft-light; */
  /* background-size: cover; */
  /* background-color: rgb(41, 48, 50); */
  /* background-color: rgb(35, 42, 47); */
  /* background-color: rgba(10, 13, 14, 0.9); */
  background-color: rgba(14, 19, 20, 0.9);
  /* min-width: 65vh; */
  max-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    background-position-x: center;
  }
}

/* FOOTER */
/* override selected footer button tap effect borders */
span {
  overflow: visible !important;
}
/* override selected footer button color */
.css-ecfobp-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #90caf9;
}

/* override love language slider circle */
.css-1ti6opd-MuiSlider-thumb {
  width: 0px !important;
}

/* others */
hr {
  width: 100%;
  transform: scale(1.15);
  opacity: 20%;
  padding: 0px;
  margin-bottom: 15px;
}

textarea {
  color: white;
  /* width: 70%; */
  /* min-height: 30%; */
  background-color: transparent;
  border-color: transparent;
  resize: none;
}

textarea:focus {
  background-color: rgb(8, 11, 12);
  background-color: rgba(152, 152, 152, 0.1);
  outline: 0;
}

label {
  color: gray;
  font-size: smaller;
  margin: 0.5rem;
}

@media (max-width: 370px) {
  .getSmaller {
    transform: scale(0.5);
  }
}