html,
body {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/000/273/920/original/deep-ocean-background-vector.jpg"); */
  /* background-image: url("https://img5.goodfon.com/original/1920x1080/d/90/fon-wallpaper-lines-abstract.jpg"); */
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: rgb(48, 48, 48);
  width: 100%;
  min-width: 65vh;
  min-height: 120vh;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  overflow: visible !important;
}

@media (max-width: 600px) {
  body {
    background-position-x: center;
  }
}