html,
body {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/000/273/920/original/deep-ocean-background-vector.jpg"); */
  /* background-image: url("../public/Pisces.png"); */
  /* background-size: 110px; */
  /* background-repeat: space; */
  /* background-blend-mode: hue; */
  background-size: cover;
  /* background-color: rgb(41, 48, 50); */
  /* background-color: rgb(35, 42, 47); */
  /* background-color: rgba(10, 13, 14, 0.9); */
  /* background-color: rgb(14, 19, 20); */
  /* background-color: rgb(245,247,251); */
  /* background-color: rgb(245,247,251); */
  background-color: rgb(3, 124, 161);
  background-color: rgb(1, 104, 135);
  /* min-width: 65vh; */
  max-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    background-position-x: center;
  }
}

/* FOOTER */
/* override selected footer button tap effect borders */
span {
  overflow: visible !important;
}

/* override selected footer button color */
.css-vbsmoh-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #90caf9;
}

/* on light mode */
/* .css-7q2x7m-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #90caf9;
} */

/* override love language slider circle */
.css-1ti6opd-MuiSlider-thumb, .css-eg0mwd-MuiSlider-thumb {
  width: 0px !important;
}

/* override bottom border for hobbies selection */
.css-7fvbo0-MuiInputBase-root-MuiInput-root:before, 
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:before,
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before,
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after,
.css-7fvbo0-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0px solid transparent !important;
}
@media (hover: none) {
  .css-1a1fmpi-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before,
  .css-7fvbo0-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
    border-bottom: 0px solid transparent !important;
  }
}
/* override hobbies placeholder font size */
.css-7fvbo0-MuiInputBase-root-MuiInput-root,
.css-1a1fmpi-MuiInputBase-root-MuiInput-root,
.css-xae5ti-MuiButtonBase-root-MuiChip-root,
.css-iqd1hh-MuiButtonBase-root-MuiChip-root {
  font-size: 0.8rem !important;
}

/* override hobbies tags margin */
.css-16awh2u-MuiAutocomplete-root .MuiAutocomplete-tag {
  margin: 1px !important;
}

/* others */
hr {
  width: 100%;
  transform: scale(1.15);
  opacity: 20%;
  padding: 0px;
  margin-bottom: 15px;
}

textarea {
  color: grey;
  /* width: 70%; */
  /* min-height: 30%; */
  background-color: transparent;
  border-color: transparent;
  resize: none;
}

textarea:focus {
  background-color: rgb(8, 11, 12);
  background-color: rgba(152, 152, 152, 0.1);
  outline: 0;
}

::placeholder {
  color: rgb(144,202,249);
}

label {
  color: darkgray;
  font-size: smaller;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  body {
    background-position: 1%;
    background-size: 460%;
  }
}